.rates {
  border-style: outset;
  display: flex;
  font-family: "Century Gothic";
  width: 35vw;
  flex-direction: column;
}

.title {
  margin: 1em auto auto 1em;
}

.datepicker {
  width: 70%;
  margin-left: 25%;
  padding: 2px;
}

.table-container {
  padding: 5vh 2vw 5vh 2vw  ;
  border-style: solid;
  border-color: grey;
  border-width: thin;
  margin: 1em auto 1em auto;
  overflow: auto;
  height: 45vh;
  table {
    border-collapse: collapse;
    width: 12vw;
    td:last-child {
      // text-align: center;
    }
    tr:not(:last-child) {
      border-style: solid;
      border-width: 0 0 1px 0;
      border-color: grey;
    }
  }
}
