.rates {
  border-style: outset;
  display: flex;
  font-family: "Century Gothic";
  width: 30%;
}

.table-container {
  padding: 10%;
  border-style: solid;
  margin: 1em auto 1em auto;
  overflow: auto;
  height: 100px;
}
